# Auto detect text files and perform LF normalization
* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.txt        text eol=lf
*.css        text eol=lf
*.js         text eol=lf
*.json       text eol=lf
*.html       text eol=lf
*.htm        text eol=lf
*.xml        text eol=lf
*.config     text eol=lf
*.sql        text eol=lf

*.sln        text eol=lf
*.cs         text eol=lf
*.cshtml     text eol=lf
*.ascx       text eol=lf
*.aspx       text eol=lf
*.asax       text eol=lf
*.csproj     text eol=lf
*.resx       text eol=lf
*.ruleset    text eol=lf
*.sitemap    text eol=lf
*.master     text eol=lf
*.wsdl       text eol=lf
*.map        text eol=lf
*.disco      text eol=lf
*.skin       text eol=lf
*.settings   text eol=lf

*.bmp binary
*.gif binary
*.ico binary
*.jpg binary
*.png binary

*.ttf   binary
*.eot   binary
*.woff  binary
*.woff2 binary

*.doc   binary
*.docx  binary
*.pdf   binary
*.rtf   binary
*.dll   binary
